.body{
    font-family: Arial;
    margin: 0;

}

.banner-pic {
    text-align: center;
    background: #ffcfab;
    padding-top: 1px;
    font-size: 100px;
    cursor: pointer;
    width: 100%;
}




.readmorebtn{
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
    padding:20px;
    border: none;
    color: black;
    border-radius: 30px;
    background-color: #EEEEEE;

}

.contents{
    padding:10px;
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
}


.Card{
    display: inline-block;
    background-color: seashell;
    height: 450px;
    width: 325px;
    border-radius: 22px;
    font-size: 15px;
    margin-right: 30px;

}

.startupImage{
    height: 200px;
    width: 300px;
    padding-bottom: 50px;
}


