.startups-grid-container {
    display: grid;
    grid-template-areas:
            'startups_boxspacer'
            'startups_A '
            'startups_B';
    background-color: #FAF6F3;
}

.startups_boxspacer{
    grid-area: startups_boxspacer;
    height: 90px;
}

.startups_A{
    display: flex;
    width: 100%;
    height: 35vw;
    color: white;
    align-items: center;
    justify-content: center;
    background:
            linear-gradient(
                    rgba(58,62,112),
                    rgba(55, 207, 171, 0)
            ),
            url(../../assets/images/bannerbilde3.PNG);
    background-size: 100% 101%; 
}

.startups_banner_image_text{
    color: #000;
    opacity: 0.71;
    font-size: 8vw;
    font-weight: bold;
}

.startups_B {

    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    grid-area: startups_B;
    padding: 30px 0 30px 0;
    display: flex;
    width: calc(100% - 80px);
    margin-left: 4vw;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.contact_form{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #ffcfab
}


.card {
    position: relative;
    margin: 1vw;
    background-color: #FAF6F3;
    height: 16vw;
    flex-basis: 22%;
    text-align: center;
    border-radius: 13px;
    transition: top ease 0.5s;
}

.card:hover{
    top:-20px;
}

.startupImage{
    max-height: 60%;
    max-width: calc(60% - 5px);
    padding-top: 2px;
    border-radius: 17px;
}




.startupname{
    font-family: 'Open Sans', sans-serif;
    color: #2e3256;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

}

.card_top{

}

.card_middle{
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}



@media(max-width: 1115px) {
    .card {
        height: 400px;
    }
}

@media(max-width: 980px) {
    .startups_A {
        height: 300px;
        /* margin-top: 60px; */
    }

    .startups_boxspacer {
        height: 0px;
    }

    .card {
        flex-basis: unset;
        width: 220px;
    }

    .card_bottom button {
        height: 35px;
        width: 100px;
        border-radius: 11px;
        background-color: #fff;
        box-shadow: 0 1px 14px 2px rgba(18, 15, 108, 0.06);
        font-family: 'Open Sans', sans-serif;
        color: #9c9cbc;
        line-height: 19px;
        font-weight: 700;
        font-size: 14px;
    }
}



@media(max-width: 550px) {
    .startups_B {
        justify-content: center;
    }
}

@media(max-width: 450px) {
    .startups_A {
        height: 200px;
    }
}