.body{
    font-family: Arial;
    margin: 0;

}


.Header {
    height: 200px;
    padding: 1px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 55px;
}


.contents{
    padding:10px;
    background-color: beige;
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
}


.Card{
    display: inline-block;
    background-color: seashell;
    height: 250px;
    width: 175px;
    border-radius: 22px;
    font-size: 10px;
    margin-right: 30px;

}

.startupImage{
    height: 100px;
    width: 160px;
}
