.council-home-grid{
    display: grid;
    grid-template-areas:
            'council_boxspacer council_boxspacer'
            'council_A council_A'
            'council_B council_B'
            'council_C1 council_C2'
            'council_D1 council_D2'
            'council_E1 council_E2';
}

.council_boxspacer{
    grid-area: council_boxspacer;
    height: 6vw;
}

.council_A{
    grid-area: council_A;
    width: 100vw;
    height: 23vw;
    color: white;
    background:
            linear-gradient(
                    rgba(58,62,112),
                    rgba(255, 0, 0, 0.45)
            ),
            url(../../assets/images/bannerbilde3.PNG);
}

.council_banner_image_text{
    font-size: 5vw;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.council_B{
    grid-area: council_B;
}


.council_C1{

}

.council_C2{

}

.council_D1{

}

.council_D2{

}

.council_E1{

}

.council_E2{

}


