.council-grid-container {
    display: grid;
    grid-template-areas:
            'council_boxspacer'
            'council_A '
            'council_B';
    background-color: #FAF6F0;
    /* padding-bottom: 10vw; */

}

.council_boxspacer{
    grid-area: council_boxspacer;
    height: 52px;
}

.council_A{
    grid-area: council_A;
    display: flex;
    width: 100%;
    height: 400px;
    color: white;
    align-items: center;
    justify-content: center;
    background:
            linear-gradient(
                    rgba(58,62,112),
                    rgba(55, 207, 171, 0)
            ),
            url(../../assets/images/bannerbilde3.PNG);
    background-size: 100% 100%;   
}

.council_banner_image_text{
    color: #000;
    opacity: 0.71;
    font-size: 8vw;
    font-weight: bold;
}

.contact_form{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #ffcfab
}

.council_B {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    grid-area: council_B;
    padding-top: 5vw;
    padding-left: 30vw;
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.councilcard {
    margin: 1vw;
    background-color: #FBF9FF;
    height: 26vw;
    width: 16vw;
    text-align: center;
    border-radius: 1.5vw;

}

.councilImage{
    height: 20vw;
    width: 16vw;
}

.councilname{
    padding-top: 1vw;
    font-size: 1.1vw;
    padding-bottom: 1vw;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

@media(max-width: 700px) {
    .council_A {
        height: 300px;
        /* margin-top: 60px; */
    }

    .council_boxspacer {
        height: 0;
    }
}