body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}


.App {
    text-align: center;
    color: black;
    margin: 0;


}

.logo{
    height: 10vw;
    width: 10vw;
}


.Navbar{
    position: absolute;
    background-color: #3A3E70;
    overflow: hidden;
    width: 100%;

}



.Navbar a.logo:hover{
    color: white;
    background-color:#3A3E70;

}


.Nav_Links{
    padding-top: 2vw;
    float:right;
    padding-right: 6vw;
}

.Navbar a{
    float: left;
    color: white;
    text-align: center;
    padding: 1.2vw 1.4vw;
    text-decoration: none;
    font-size: 20px;
}

.Navbar a:hover {
    background-color: #ddd;
    color: black;
}

.Navbar a.active {
    background-color: #4CAF50;
    color: white;
}


/* FOOTER STYLING*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffcfab;
    color: white;
}

.footer a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.footer a:hover {
    background-color: #ddd;
    color: black;
}

.footer a.active {
    color: white;
}

