body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    overflow-y: scroll;

}

.App-grid {
    display: grid;
    grid-template-areas:
    'Navbar'
    'F'
    'G';
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}


.App {
    text-align: center;
    color: black;
    margin: 0;
}



.Navbar{
    grid-area: Navbar;
    position: absolute;
    background-color: #3A3E70;
    overflow: hidden;
    width: 100%;
    height: 6vw;
}


.Nav_Links{
    padding-top: 1vw;
    float:right;
    padding-right: 6vw;

}

.Navbar a{
    float: left;
    color: white;
    text-align: center;
    padding: 1.2vw 1.4vw;
    text-decoration: none;
    font-size: 20px;
    border-bottom: 1px solid #ffcfab;
}

/* FOOTER STYLING*/

.F{
    grid-area: F;
    width: 100%;
    height: 25vw;
    background-color: #ffcfab;

}

.G{
    grid-area: G;
    height: 4.5vw;
    color: #ffcfab;
    background-color: #faf6f3;

}

.solanfooterlogo{
    padding-top: 5vw;
    padding-left: 10vw;
    padding-bottom: 5vw;
}

.G_text{
padding-left: 40vw;
}
